.slider{
    position: relative;
    width: 100%;
    overflow: hidden;
    height:160px;
}
.slider:after{
    content: '';
    display: block;
    width: 100%;
    padding-top: 50%;
}
.slider ul{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
	-webkit-transition: all 0.3s cubic-bezier(0.22, 0.69, 0.72, 0.88); transition: all 0.3s cubic-bezier(0.22, 0.69, 0.72, 0.88); -webkit-transform: translate3d(0px, 0px, 0px); transform: translate3d(0px, 0px, 0px);
}
.slider li{
    list-style: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.slider li img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
	width:100%;
}
.slider .dot{
    position: absolute;
    left:50%;
    bottom: 10px;
    font-size: 0;
}
.slider .dot span{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin:0 5px;
    border: 1px solid #1fbad6;
    border-radius: 50%;
    background: #ffffff;

}
.slider .dot .cur{
    background-color: #1fbad6;
}
/*.sliderLi1{
-webkit-transform: translate3d(0px, 0px, 0px); transform: translate3d(0px, 0px, 0px);
}
.slideLi2{
-webkit-transform: translate3d(320px, 0px, 0px); transform: translate3d(320px, 0px, 0px);
}
.slideLi3{
-webkit-transform: translate3d(640px, 0px, 0px); transform: translate3d(640px, 0px, 0px);
}
.slideLi4{
-webkit-transform: translate3d(980px, 0px, 0px); transform: translate3d(980px, 0px, 0px);
}*/
